requests
streamlit
beautifulsoup4
python-docx
python-dotenv
langchain
chromadb==0.3.21
langchain-chroma==0.0.2
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
pymongo
reportlab
pillow
fpdf
