requests
streamlit
beautifulsoup4
python-docx
python-dotenv
langchain
chromadb==0.3.21
langchain-chroma==0.1.1
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
pymongo==4.2.0
reportlab==3.6.12
pillow==9.0.1
fpdf==1.7.2
pypdf==4.2.0
PyPDF2==3.0.1
